# CODEOWNERS: <https://help.github.com/articles/about-codeowners/>

# Primary repo maintainers

*       @ilgooz @Pantani @julienrbrt

# Ts templates

ignite/pkg/cosmosgen/* @ilgooz @Pantani @julienrbrt @clockworkgr

# Docs

*.md    @ilgooz @Pantani @julienrbrt
docs/*   @ilgooz @Pantani @julienrbrt
