# CODEOWNERS: <https://help.github.com/articles/about-codeowners/>

# Primary repo maintainers

*       @Pantani @julienrbrt

# Ts templates

ignite/pkg/cosmosgen/* @Pantani @julienrbrt @clockworkgr

# Docs

*.md    @Pantani @julienrbrt
docs/*   @Pantani @julienrbrt
