# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Docs
*.md    @barriebyron @alijnmerchant21 @chrisvalle #soniasingla

# Primary repo maintainers
*       @fadeev @ilgooz @lubtd @Pantani @ivanovpetr
