[Desktop Entry]
Type=Application

Name=ignite
Comment=Ignite CLI is the all-in-one platform to build, launch, and maintain any crypto application on a sovereign and secured blockchain
Categories=Utility;Development;Network

Icon=ignite
Exec=ignite
Terminal=true