[Unit]
Description=IPFS daemon
After=network.target
After=firstboot.service

[Service]
ExecStart=/usr/bin/ipfs daemon --migrate
Restart=on-failure

[Install]
WantedBy=default.target
