name: goreleaser

on:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    env:
      working-directory: go/src/github.com/tendermint/starport 
    
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Set up Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: "14"

      - name: Set up packr2
        run: go get -u github.com/gobuffalo/packr/v2/packr2

      - name: Set up Snapcraft
        run: |
          sudo apt-get -yq --no-install-suggests --no-install-recommends install snapcraft

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: ${{ env.working-directory }}
          fetch-depth: 0

      - name: Build UI
        working-directory: ${{ env.working-directory }}
        run:  make ui

      - name: Run packr2
        working-directory: ${{ env.working-directory }}
        run: |
          export GOPATH=$GITHUB_WORKSPACE/go
          export PATH=$PATH:$GOPATH
          cd starport/interface/cli/starport
          packr2 -v

      - name: Snapcraft Login
        env:
          SNAPCRAFT_LOGIN: ${{ secrets.SNAPCRAFT_LOGIN }}
        run: |
          snapcraft login --with <(echo "$SNAPCRAFT_LOGIN")

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          workdir: ${{ env.working-directory }}
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
