name: Lint
on:
  pull_request:
  push:
    paths-ignore:
      - '**.md'
    branches:
      - main
jobs:
  lint:
    name: Lint Go code
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - uses: actions/checkout@v3.4.0
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.go
            go.mod
            go.sum
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.1
          args: --timeout 10m
          github-token: ${{ secrets.github_token }}
