name: Test

on:
  pull_request:
  push:
    paths-ignore:
      - "**.md"
    branches:
      - main
      - release/*

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3.4.0
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.go
            **/*.plush
            go.mod
            go.sum
            **/testdata/**

      - uses: actions/setup-go@v4
        if: env.GIT_DIFF
        with:
<<<<<<< HEAD
          go-version: '1.21'
=======
          go-version: "1.22"
>>>>>>> b935d4f4 (ci: don't fail if codecov fails (#4082))
          cache: true
          cache-dependency-path: go.sum

      - run: ./scripts/test-coverage
        if: env.GIT_DIFF

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        if: env.GIT_DIFF
        with:
          file: ./coverage.txt
          fail_ci_if_error: false
          verbose: true
